.cartSummaryUl{
    list-style-type: none;
    background-color: lightgrey;
    margin: 0px;
    padding: 20px;
    padding-bottom: 0px;
}
.cartSummary {
    display: grid;
    background-Color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 200px; 
    width: 300px;
    margin-top: 50px;
    margin-right: 120px;
}
li>span {
    float:right;
    margin-right:20px;
}
.checkoutButton {
height:30px;
margin-top:20px;
margin-left: 110px;
background-color: cornflowerblue;
}