.productDisplay {
    display: grid;
    width: 800px;
    height: 150px;
    text-align: center;
    margin-left:300px;
    margin-top:20px;
    border-block-color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-bottom:20px;
}
.add {
    margin-top:5px;
    display: block;
}

ul {
    text-align: -webkit-center;
    padding-left: 0px;
    list-style-type: none;
    background-color: #d3d3d354;
    margin:0px;
}

li {
    margin-top: 45px;
}